@model IEnumerable<XabugTracker.Models.Ticket>
@using XabugTracker.Helpers

@{
    ViewBag.Title = "Index";
    UserHelper userHelper = new UserHelper();
    UserRolesHelper roleHelper = new UserRolesHelper();
    ProjectHelper projectHelper = new ProjectHelper();
    TicketHelper ticketHelper = new TicketHelper();

}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ticktable').DataTable();
    });
</script>

@if (User.IsInRole("Submitter"))
{
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" class="tab" href="#home">My Tickets</a></li>
        <li><a data-toggle="tab" class="tab" href="#myticketS">My Created Tickets</a></li>
    </ul>
}
else if (User.IsInRole("Developer"))
{
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" class="tab" href="#home">My Tickets</a></li>
        <li><a data-toggle="tab" class="tab" href="#myticketD">My Assigned Tickets</a></li>
    </ul>
}

<div id="home" class="tab-pane fade in active">
    <div class="card tablecardpad">
        <div class="row">
            <div class="card-content">
                <table id="ticktable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Issue Name")
                            </th>
                            <th>
                                @Html.DisplayName("Submitter Name")
                            </th>
                            <th>
                                @Html.DisplayName("Developer Name")
                            </th>
                            <th>
                                @Html.DisplayName("Priority")
                            </th>
                            <th>
                                @Html.DisplayName("Created")
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayName("Issue Name")
                            </th>
                            <th>
                                @Html.DisplayName("Submitter Name")
                            </th>
                            <th>
                                @Html.DisplayName("Developer Name")
                            </th>
                            <th>
                                @Html.DisplayName("Priority")
                            </th>
                            <th>
                                @Html.DisplayName("Created")
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var ticket in Model)
                        {
                            var prio = "prio-" + ticket.TicketPriority.Name;
                            string submN = "";
                            if (ticket.SubmitterId == userHelper.GetUserId())
                            {
                                submN = "Me";
                            }
                            if (submN != "Me")
                            {
                                submN = userHelper.GetFullName(ticket.SubmitterId);
                            }
                            string devN = "";
                            if (ticket.DeveloperId == userHelper.GetUserId())
                            {
                                devN = "Me";
                            }
                            if (ticket.DeveloperId != null && devN != "Me")
                            {
                                devN = userHelper.GetFullName(ticket.DeveloperId);
                            }
                            else
                            {
                                devN = "Unassigned";
                            }
                            <tr>
                                <td>
                                    <a href=@Url.Action("Dashboard","Tickets", new { id = ticket.Id })>@ticket.Issue</a>
                                </td>
                                <td>
                                    @submN
                                </td>
                                <td>
                                    @devN
                                </td>
                                <td>
                                    <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                </td>
                                <td>
                                    @ticket.Created.ToString("MMM dd, yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Submitter"))
{
    <div id="myticketS" class="tab-pane fade">
        <div class="card tablecardpad">
            <div class="row">
                <div class="card-content">
                    <table id="ticktable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Issue Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitter Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Developer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Priority")
                                </th>
                                <th>
                                    @Html.DisplayName("Created")
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayName("Issue Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitter Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Developer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Priority")
                                </th>
                                <th>
                                    @Html.DisplayName("Created")
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var ticket in Model.Where(t => t.SubmitterId == userHelper.GetUserId()))
                            {
                                var prio = "prio-" + ticket.TicketPriority.Name;
                                string submN = "";
                                if (ticket.SubmitterId == userHelper.GetUserId())
                                {
                                    submN = "Me";
                                }
                                if (submN != "Me")
                                {
                                    submN = userHelper.GetFullName(ticket.SubmitterId);
                                }
                                string devN = "";
                                if (ticket.DeveloperId != null)
                                {
                                    devN = userHelper.GetFullName(ticket.DeveloperId);
                                }
                                else
                                {
                                    devN = "Unassigned";
                                }
                                <tr>
                                    <td>
                                        @ticket.Issue
                                    </td>
                                    <td>
                                        @submN
                                    </td>
                                    <td>
                                        @devN
                                    </td>
                                    <td>
                                        <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("MMM dd, yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else if (User.IsInRole("Developer"))
{
    <div id="myticketD" class="tab-pane fade">
        <div class="card tablecardpad">
            <div class="row">
                <div class="card-content">
                    <table id="ticktable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Issue Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitter Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Developer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Priority")
                                </th>
                                <th>
                                    @Html.DisplayName("Created")
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayName("Issue Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Submitter Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Developer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Priority")
                                </th>
                                <th>
                                    @Html.DisplayName("Created")
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var ticket in Model)
                            {
                                var prio = "prio-" + ticket.TicketPriority.Name;
                                var submN = userHelper.GetFullName(ticket.SubmitterId);
                                string devN = "";
                                if (ticket.DeveloperId == userHelper.GetUserId())
                                {
                                    devN = "Me";
                                }
                                if (ticket.DeveloperId != null && devN != "Me")
                                {
                                    devN = userHelper.GetFullName(ticket.DeveloperId);
                                }
                                else
                                {
                                    devN = "Unassigned";
                                }
                                <tr>
                                    <td>
                                        @ticket.Issue
                                    </td>
                                    <td>
                                        @submN
                                    </td>
                                    <td>
                                        @devN
                                    </td>
                                    <td>
                                        <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("MMM dd, yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
