@using XabugTracker.Helpers
@{
    UserHelper userHelper = new UserHelper();
    UserRolesHelper userRolesHelper = new UserRolesHelper();
    ProjectHelper projectHelper = new ProjectHelper();
    TicketHelper ticketHelper = new TicketHelper();
    var user = userHelper.GetUser();
    var roleName = userRolesHelper.ListUserRole(user.Id);
    if (roleName == null)
    {
        roleName = "No Role";
    }
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@if (ticketHelper.graphShow())
{

    var graphData = ticketHelper.TypeGraph();
    var graphData2 = ticketHelper.PriorityGraph();
    <script type="text/javascript">
        $(document).ready(function () {
                            var data = {

            lables: ['Software', 'Feature Request', 'UI Issue', 'Defect', 'Other'],
            series: [@graphData[0], @graphData[1], @graphData[2], @graphData[3], @graphData[4]]
        };

        var sum = function (a, b) { return a + b };

        new Chartist.Pie('.ct-chart', data, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data.series.reduce(sum) * 100) + '%';
            }
        });

        var data2 = {
            series: [@graphData2[0], @graphData2[1], @graphData2[2], @graphData2[3] ]
        };

        var sum2 = function (a, b) { return a + b };

        new Chartist.Pie('.ct-chart2', data2, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data2.series.reduce(sum2) * 100) + '%';
            }
        });});
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#ticktable').DataTable();
        $(".main-panel").css("background-color", "gainsboro");
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center tablecardpad">
                <div class="card-content">
                    <div class="row">
                        <br />
                        <div class="col-md-6">
                            <h3 class="card-title">Dashboard for '@user.FullName'</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="card-title">My Role: @roleName</h3>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="card" data-background-color="brown">
                                <div class="card-content">
                                    <h4 class="card-title">
                                        My Projects: @user.Projects.Count
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @switch (userRolesHelper.ListUserRole())
                            {
                                case "Submitter":
                                    <div class="card" data-background-color="orange">
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                My Created Tickets: @userHelper.MyCreatedTickets().Count
                                            </h4>
                                        </div>
                                    </div>
                                    break;
                                case "Developer":
                                    <div class="card" data-background-color="orange">
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                My Assigned Tickets: @userHelper.MyAssignedTickets().Count
                                            </h4>
                                        </div>
                                    </div>
                                    break;
                                case "Project Manager":
                                    <div class="card" data-background-color="orange">
                                        <div class="card-content">
                                            <h5 class="card-title">
                                                My Projects Tickets w/o a Developer: @projectHelper.MyProjectTicketsWithoutDev().Count
                                            </h5>
                                        </div>
                                    </div>
                                    break;

                                default:
                                    <div class="card" data-background-color="orange">
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                All Tickets: @ticketHelper.TicketCount()
                                            </h4>
                                        </div>
                                    </div>
                                    break;
                            }
                        </div>
                    </div>
                    @if (ticketHelper.graphShow())
                    {
                        <div class="row margin-top">

                            <div class="col-md-6">

                                <div class="ct-chart"></div>

                            </div>
                            <div class="col-md-6">

                                <div class="ct-chart2"></div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">

                                <h6>All My Project's Tickets by Type Legend</h6>
                                <div class="row">
                                    <i class="fa fa-circle text-info"></i> Software
                                    <i class="fa fa-circle text-warning"></i> Feature Request
                                </div>
                                <div class="row">
                                    <i class="fa fa-circle text-danger"></i> UI Issue
                                    <i class="fa fa-circle text-success"></i> Defect
                                    <i class="fa fa-circle text-primary"></i> Other
                                </div>

                            </div>
                            <div class="col-md-6">

                                <h6>All My Project's Tickets by Priority Legend</h6>
                                <div class="row">

                                    <i class="fa fa-circle text-success"></i> Low
                                    <i class="fa fa-circle text-warning"></i> Medium
                                </div>
                                <div class="row">
                                    <i class="fa fa-circle text-danger"></i> High
                                    <i class="fa fa-circle text-info"></i> On Hold
                                </div>

                            </div>

                        </div>

                    }
                    <div class="row">
                        @switch (userRolesHelper.ListUserRole())
                        {
                            case "Submitter":
                                var ticktableS = userHelper.MyCreatedTickets();
                                if (ticktableS.Count > 0)
                                {
                                    <div class="card-title text-center">
                                        <h3>MY CREATED TICKETS</h3>
                                    </div>

                                    <table id="ticktable" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Developer Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var ticket in ticktableS)
                                            {
                                                var prio = "prio-" + ticket.TicketPriority.Name;
                                                var devN = "";
                                                if (ticket.DeveloperId != null)
                                                {
                                                    devN = userHelper.GetFullName(ticket.DeveloperId);
                                                }
                                                else
                                                {
                                                    devN = "Unassigned";
                                                }

                                                <tr>
                                                    <td>
                                                        <a href=@Url.Action("Dashboard","Tickets", new { id = ticket.Id })>@ticket.Issue</a>
                                                    </td>
                                                    <td>
                                                        @devN
                                                    </td>
                                                    <td>
                                                        <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                                    </td>
                                                    <td>
                                                        @ticket.Created.ToString("MMM dd, yyyy")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="card-title text-center">
                                        <h3>MY CREATED TICKETS</h3> <br />
                                        <p>You have created no tickets.</p>
                                    </div>
                                }
                                break;
                            case "Developer":
                                var ticktableD = userHelper.MyAssignedTickets();
                                if (ticktableD.Count > 0)
                                {
                                    <div class="card-title text-center">
                                        <h3>MY ASSIGNED TICKETS</h3>
                                    </div>

                                    <table id="ticktable" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var ticket in ticktableD)
                                            {
                                                var prio = "prio-" + ticket.TicketPriority.Name;
                                                var submN = userHelper.GetFullName(ticket.SubmitterId);

                                                <tr>
                                                    <td>
                                                        <a href=@Url.Action("Dashboard","Tickets", new { id = ticket.Id })>@ticket.Issue</a>
                                                    </td>
                                                    <td>
                                                        @submN
                                                    </td>
                                                    <td>
                                                        <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                                    </td>
                                                    <td>
                                                        @ticket.Created.ToString("MMM dd, yyyy")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="card-title text-center">
                                        <h3>MY ASSIGNED TICKETS</h3> <br />
                                        <p>You have created no tickets.</p>
                                    </div>
                                }
                                break;
                            case "Admin":
                                break;
                            case "Project Manager":
                                var ticktablePM = projectHelper.MyProjectTicketsWithoutDev();
                                if (ticktablePM.Count > 0)
                                {
                                    <div class="card-title text-center">
                                        <h4>MY PROJECT TICKETS WITHOUT A DEVELOPER</h4>
                                    </div>

                                    <table id="ticktable" class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("Issue Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Submitter Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Priority")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Created")
                                                </th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var ticket in ticktablePM)
                                            {
                                                var prio = "prio-" + ticket.TicketPriority.Name;
                                                var submN = userHelper.GetFullName(ticket.SubmitterId);

                                                <tr>
                                                    <td>
                                                        <a href=@Url.Action("Dashboard","Tickets", new { id = ticket.Id })>@ticket.Issue</a>
                                                    </td>
                                                    <td>
                                                        @submN
                                                    </td>
                                                    <td>
                                                        <span id=@prio class="priospan">@ticket.TicketPriority.Name</span>
                                                    </td>
                                                    <td>
                                                        @ticket.Created.ToString("MMM dd, yyyy")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="card-title text-center">
                                        <h3>MY PROJECT TICKETS WITHOUT A DEVELOPER</h3> <br />
                                        <p>All of your project tickets hav a developer.</p>
                                    </div>
                                }
                                break;
                        }
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

